@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

body {
  font-family: "Ruluko", sans-serif;
  margin: 0px auto;
  text-align: center;
  width: 700px;
}

.title {
  color: #fbec5d;
  font-family: "Oleo Script", cursive;
  font-size: 50px;
  margin-top: 100px;
}

.konto {
  color: #6b3e26;
  background-color: #fffbc9;
  border: 1px solid #fbec5d;
  border-radius: 15px;
  display: inline-block;
  padding: 10px;
  width: 300px;
  font-size: 25px;
}

.giro {
  margin: 20px auto;
}

.saldo {
  background-color: #fbec5d;
  color: #ffffff;
  border: 1px solid #fbec5d;
  border-radius: 15px;
  font-size: 50px;
  margin-bottom: 10px;
  padding: 25px 0px;
  box-shadow: 0 0 20px #6b3e2656;
}
.geldbetrag {
  min-width: 125px;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0 0 10px #fddc3a;
}
.auszahlen,
.einzahlen {
  margin: 20px 5px;
  background-color: #fbec5d;
  color: #6b3e26;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
}
